@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: 6.25rem 0;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    /* =====  Colors ====== */
    --title-dark: #343434;
    --element-color: #1C1C1C;
    --white: #fff;
    --sec-bg-color: #F7F7F7;
    --circle-bg-color: #f4f4f4;
    /* =====  Fonts ====== */
    --main-foont: "Montserrat", sans-serif;
    --content-font: "Poppins", sans-serif;
    /* =====  Spacing ====== */
    --sec-padding: 6.25rem 0;
}



.poppins-font {
    font-family: var(--content-font);
}

.montserrat-font {
    font-family: var(--main-foont);
}

h2 {
    font-family: var(--main-foont);
    font-weight: 800;
    text-transform: capitalize;
    color: var(--title-dark);
}

/* =========================== NavBar ================================ */
#navbar .navbar-brand {
    font-family: var(--main-foont);
    font-size: 1.125rem;
}

#navbar .navbar-nav .nav-link {
    font-family: var(--content-font);
    position: relative;
}

#navbar .navbar-nav .nav-link.active::after {
    content: '';
    width: 50%;
    border-bottom: 2px solid var(--element-color);
    position: absolute;
    bottom: 0;
    left: 10px;
    animation:under-line .3s forwards ;

}



@keyframes under-line {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}


/* =========================== Header ================================ */
#home {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(../images/bg.jpg);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;

}

#home .container .home-content h1 {
    font-size: 3.125rem;
}

#home .container .home-content span {
    font-size: 3.75rem;
}

#home .container .home-content .social-icons li .circle {
    background-color: rgba(1, 10, 16);
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
}

/* =========================== About ================================ */
#about,
#services,
#works,
#clients,
#numbers,
#team,
#contact {
    padding: var(--sec-padding);
}

#about .container .about-content .about-img {
    /* background-color: aqua; */
    position: relative;
    width: 75%;
}

#about .container .about-content .about-img::before {
    content: '';
    width: 80%;
    height: 5%;
    background-image: url(../images/dots.png);
    position: absolute;
    right: 60%;
    bottom: 30%;
    transform: rotate(90deg);

}

#about .container .about-content .about-img::after {
    content: '';
    width: 70%;
    height: 28px;
    background-image: url(../images/dots.png);
    position: absolute;
    top: 103%;
    right: 32%;


}

#about .container .about-content .sub-title {
    letter-spacing: 2px;
}


#about .container .about-content .progress-container .progress {
    --bs-progress-height: 1.6rem;
    box-shadow: inset 3px 12px 6px -10px rgba(0, 0, 0, 0.75);
}


#about .container .about-content .buttons .btn {
    padding: .625rem 1.875rem;
}


.btn {
    transition: all .5s ease-in-out;
}

.btn.btn-black,
#contact .container  form button {
    --bs-btn-bg: var(--element-color);
    --bs-btn-color: var(--white);
    --bs-btn-hover-border-color: var(--element-color);
}

.btn.btn-dark {
    --bs-btn-border-color: var(--element-color);
    --bs-btn-bg: var(--white);
    --bs-btn-color: var(--element-color);
    --bs-btn-hover-bg: var(--element-color);
}

/* =========================== Services ================================ */
#services,
#clients,
#team {
    background-color: var(--sec-bg-color);
}

#services .container .serv-txt>h2,
#works .container .work-txt>h2,
#clients .container .client-txt>h2,
#team .container .team-txt>h2,
#contact .container .contact-txt>h2

{
    position: relative;
    z-index: 4;
}

#services .container .serv-txt>h2::after,
#works .container .work-txt>h2::after,
#clients .container .client-txt>h2::after,
#team .container .team-txt>h2::after,
#contact .container .contact-txt>h2::after
 {
    content: '';
    width: 100%;
    height: 50%;
    background-image: url(../images/dots.png);
    position: absolute;
    bottom: -4%;
    left: 1.01%;
    z-index: -1;

}

#services .container .serv-cards .card {
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}

#services .container .serv-cards .card .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--circle-bg-color);
    transition: background-color .3s ease-in-out;

}

#services .container .serv-cards .card .circle i {
    transition: all .3s ease-in-out;
}

#services .container .serv-cards .card:hover .circle {
    background-color: var(--element-color);
}

#services .container .serv-cards .card:hover .circle i {
    color: var(--white);
}

/* =========================== Works ================================ */
#works .container .work-cards .card {
    --bs-card-border-radius: none;
    overflow: hidden;
}

#works .container .work-cards .card img {
    position: relative;
}

#works .container .work-cards .card .layer {
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    background-color: var(--white);
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translateY(3%);
}

#works .container .work-cards .card:hover .layer {
    opacity: 1;
    transform: translateY(0);
}

#works .container .work-cards .card .layer>span {
    letter-spacing: .125rem;
    font-size: .875rem;
}

#works .container .work-cards .card .layer ul li .circle {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: var(--element-color);
    transition: all .4s ease-in-out;
}

#works .container .work-cards .card .layer ul li .circle:hover {
    background-color: var(--white);
    border: 1px solid var(--element-color);
}

#works .container .work-cards .card .layer ul li .circle a i,
#works .container .work-cards .card .layer ul li .circle button i {

    color: var(--white);
    transition: color .4s ease-in-out;
}

#works .container .work-cards .card .layer ul li .circle:hover i {
    color: var(--element-color);
}



.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: none;
    position: relative;
}

.nav-tabs .nav-link.active::after {
    content: '';
    width: 60%;
    height: 20%;
    border-bottom: 3px solid var(--element-color);
    position: absolute;
    bottom: 0;
    left: 22%;
}

.nav-tabs .nav-link {
    border: none;

    border-top-left-radius: none;
    border-top-right-radius: none;
}

/* =========================== Clients ================================ */
#clients .container .carousel .carousel-inner .carousel-item img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #1C1C1C;
}


#clients .container .carousel .carousel-inner .carousel-item p {
    font-size: .8rem;
}

#clients .container .carousel .carousel-inner .carousel-item .sub-span {
    font-size: .75rem;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #869791;
}

#clients .container .carousel .carousel-inner .carousel-item .circle img {
    border-radius: 50%;

}






/* =========================== Numbers ================================ */

#numbers .container .num-container .card .card-body h4 {
    font-weight: 800;
    color: var(--title-dark);
}

/* =========================== Team ================================ */
#team .container .team-content .card {
    --bs-card-bg: rgb(91, 91, 91);


}

#team .container .team-content .card .img-div {
    position: relative;
    overflow: hidden;
}

#team .container .team-content .card .img-div img {
    transition: .4s ease-in-out;
}

#team .container .team-content .card:hover .img-div img {
    transform: scale(1.3);
}

#team .container .team-content .card:hover .img-div .layer {
    opacity: 1;
    animation: layer-hover .5s forwards;
}

#team .container .team-content .card .layer {
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    transition: all .5s ease-in-out;
}

#team .container .team-content .card .layer ul li .circle {
    background-color: rgba(1, 10, 16);
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;

}

#team .container .team-content .card .layer ul li .circle:hover {
    background-color: var(--white);
    border: 1px solid var(--element-color);
}

#team .container .team-content .card .layer ul li .circle i {
    color: var(--white);
    transition: all .3s ease-in-out;
}

#team .container .team-content .card .layer ul li .circle:hover i {
    color: var(--element-color);

}

@keyframes layer-hover {
    0% {
        opacity: 0;
        background-color: rgba(255, 255, 255, .9);
        transform: rotateY(0) scale(0);
        transition: transform 10s ease-in-out;

    }


    100% {

        background-color: rgba(255, 255, 255, 0.900);
        transform: rotateY(-360deg) scale(1);
        transition: transform 10s ease-in-out;
    }
}


/* =========================== Contact ================================ */
#contact .container .card .card-body p {
    font-size: .9375rem;
}

#contact .container .card .card-body .circle {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: var(--circle-bg-color);
    transition: background-color .5s ease-in-out;
}

#contact .container .card:hover .card-body .circle {
    background-color: var(--element-color);
}

#contact .container .card:hover .card-body .circle i {
    color: var(--white);
}

#contact .container form input,
#contact .container form textarea {
    background-color: var(--circle-bg-color);
    border: none;
}

#contact .container form input::placeholder,
#contact .container form textarea::placeholder
{
    font-size: .9375rem;
}
.btn-form{
    margin-left: 4rem;
}
.btn-form button{
   padding: 10px 40px;
}

.form-control:focus {
    box-shadow: none;
}

/* =========================== Footer ================================ */
#footer {
    background-color: var(--element-color);
    padding: 1.875rem;
}

/* =========================== Media Query ================================ */
@media screen and (max-width:991.98px) {
    #home .container .home-content span{
        font-size: 20px;
    }
    #navbar .navbar-nav .nav-link.active::after {
            content: '';
            border-bottom: 2px solid var(--element-color);
            position: absolute;
            bottom: 0;
            left: 0px;
            animation: under-line .3s forwards;
    
        }

                @keyframes under-line {
                    0% {
                        width: 0;
                    }
        
                    100% {
                        width: 15%;
                    }
                }
    #about .container .about-content h2 {
        margin-top: 3.75rem
    }

    #about .container .about-content .about-img {
        width: 100%;
    }

    #contact .container form input{
        margin-bottom: 2rem;
    }

        .btn-form {
            margin-left: 0rem;
        }
}